:root {
  --colMain: #2e95cc;
  --colBg: #111111;
  --colText: #ffffff;
}
@font-face {
  font-family: "GreatVibes";
  src: url(../assets/fonts/Great_Vibes/GreatVibes-Regular.ttf);
}
@font-face {
  font-family: "IndieFlower";
  src: url(../assets/fonts/Indie_flower/IndieFlower-Regular.ttf);
}
.divider {
  height: 250px;
  background-color: red;
  overflow-x: hidden;
  background-image: url(../assets/Waves/blue-black_t-b.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.rotated {
  transform: rotate(180deg);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.5s ease-in-out;
  transform: translate(-100%);
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}
html {
  color-scheme: dark light;
}
body {
  display: grid;
  background-color: var(--colBg);
}
header,
footer {
  background-color: var(--colMain);
  padding: 2rem 1rem;
}
main {
  padding: 2rem 0;
  background-color: var(--colBg);
  height: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
h1 {
  font-family: "GreatVibes", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3.5rem;
  color: var(--colText);
}
p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-family: "IndieFlower", Arial, Helvetica, sans-serif;
  color: var(--colText);
}
section {
  outline: 5px solid lime;
}
